---
title: Leadership
layout: default
---
<ul  id="hover-cap-4col" >




<li class="col-md-4">
  <div class="thumbnail" data-id="vtrapcap">
    <div id="vtrapcap" class="caption">
        <div class="scroll2">
        <h4>Bio</h4>
        <p> {% include vanguelbio.txt %} </p> 
        </div>
    </div>
    <img src="/images/leaders/vtrapkov.png" alt="Vanguel Trapkov">
  </div>
  <button type="button" class="btn btn-default btn-md" data-id="vtrapcap" id="btn-cap">
    <h4 style="text-align:center;font-size:90%">Vanguel Trapkov | President</h4>
  </button>
</li>



<li class="col-md-4">
  <div class="thumbnail" data-id="zachcap">
    <div id="zachcap" class="caption" >
         <div class="scroll2">
         <h4>Bio</h4>
         <p > {% include zachbio.txt %} </p> 
         </div>
    </div>
    <img src="/images/leaders/zkurtz.png" alt="Zachary Kurtz">
  </div>
  <button type="button" class="btn btn-default btn-md" data-id="zachcap" id="btn-cap">
    <h4 style="text-align:center;font-size:90%">Zachary Kurtz | VP Technology</h4>
  </button>
</li>

<li class="col-md-4">
  <div class="thumbnail" data-id="mmurphycap">
    <div id="mmurphycap" class="caption">
        <div class="scroll2">
        <h4>Bio</h4>
        <p> {% include mattbio.txt %} </p> 
        </div>
    </div>
    <img src="/images/leaders/matt_murphy.png" alt="Matthew Murphy">
  </div>
  <button type="button" class="btn btn-default btn-md" data-id="mmurphycap" id="btn-cap">
    <h4 style="text-align:center;font-size:90%">Matthew Murphy | VP Communications</h4>
  </button>
</li>

<li class="col-md-4">
  <div class="thumbnail" data-id="ncoccocap">
    <div id="ncoccocap" class="caption">
        <div class="scroll2">
        <h4>Bio</h4>
        <p> {% include nikkibio.txt %} </p> 
        </div>
    </div>
    <img src="/images/leaders/nicolette_cocco.png" alt="Nicolette Cocco">
  </div>
  <button type="button" class="btn btn-default btn-md" data-id="ncoccocap" id="btn-cap">
    <h4 style="text-align:center;font-size:90%">Nicolette Cocco | VP Finance</h4>
  </button>
</li>

<li class="col-md-4">
  <div class="thumbnail" data-id="stevecap">
    <div id="stevecap" class="caption">
        <div class="scroll2">
        <h4>Bio</h4>
        <p> {% include stevebio.txt %} </p> 
        </div>
    </div>
    <img src="/images/leaders/stevehoangphou.png" alt="Steven Hoang-Phou">
  </div>
  <button type="button" class="btn btn-default btn-md" data-id="stevecap" id="btn-cap">
    <h4 style="text-align:center;font-size:90%">Steven Hoang-Phou | VP Operations</h4>
  </button>
</li>

<li class="col-md-4">
  <div class="thumbnail" data-id="haricap">
    <div id="haricap" class="caption">
        <div class="scroll2">
        <h4>Bio</h4>
        <p> {% include haribio.txt %} </p> 
        </div>
    </div>
    <img src="/images/leaders/harirallapalli.png" alt="Hari Rallapalli">
  </div>
  <button type="button" class="btn btn-default btn-md" data-id="haricap" id="btn-cap">
    <h4 style="text-align:center;font-size:90%">Hari Rallapalli | VP Outreach</h4>
  </button>
</li>

</ul>

