---
title: Leadership
layout: default
---
<ul id="hover-cap-4col">

<li class="col-md-6">
  <div class="leaderthumbnail thumbnail" data-id="sofiacap">
    <div id="sofiacap" class="caption">
        <div class="scroll2">
        <h4>Bio</h4>
        <p> {% include sofiabio.txt %} </p> 
        </div>
    </div>
    <img src="/images/leaders/sofia_bakogianni.png" alt="Sofia Bakogianni">
  </div>
  <button type="button" class="btn btn-default btn-md" data-id="sofiacap" id="btn-cap">
    <h4 style="text-align:center;font-size:90%">Sofia Bakogianni | President</h4>
  </button>
</li>

<li class="col-md-6">
  <div class="leaderthumbnail thumbnail" data-id="tobicap">
    <div id="tobicap" class="caption">
        <div class="scroll2">
        <h4>Bio</h4>
        <p> {% include tobiasbio.txt %} </p> 
        </div>
    </div>
    <img src="/images/leaders/tobias_schraink.png" alt="Tobias Schraink">
  </div>
  <button type="button" class="btn btn-default btn-md" data-id="tobicap" id="btn-cap">
    <h4 style="text-align:center;font-size:90%">Tobias Schraink | VP Outreach</h4>
  </button>
</li>

<li class="col-md-6">
  <div class="leaderthumbnail thumbnail" data-id="haricap">
    <div id="haricap" class="caption">
        <div class="scroll2">
        <h4>Bio</h4>
        <p> {% include haribio.txt %} </p> 
        </div>
    </div>
    <img src="/images/leaders/harirallapalli.png" alt="Hari Rallapalli">
  </div>
  <button type="button" class="btn btn-default btn-md" data-id="haricap" id="btn-cap">
    <h4 style="text-align:center;font-size:90%">Hari Rallapalli | VP Finance</h4>
  </button>
</li>

<li class="col-md-6">
  <div class="leaderthumbnail thumbnail" data-id="stevecap">
    <div id="stevecap" class="caption">
        <div class="scroll2">
        <h4>Bio</h4>
        <p> {% include stevebio.txt %} </p> 
        </div>
    </div>
    <img src="/images/leaders/stevehoangphou.png" alt="Steven Hoang-Phou">
  </div>
  <button type="button" class="btn btn-default btn-md" data-id="stevecap" id="btn-cap">
    <h4 style="text-align:center;font-size:90%">Steven Hoang-Phou | Vice President</h4>
  </button>
</li>

</ul>

