<h3> Emeritus Leaders </h3>

<ul id="hover-cap-4col">

<li class="col-md-6">
  <div class="leaderthumbnail thumbnail" data-id="vancap">
    <div id="vancap" class="caption">
        <div class="scroll2">
        <h4>Bio</h4>
        <p> {% include vanmbio.txt %} </p> 
        </div>
    </div>
    <img src="/images/leaders/vanessa_mahoney.png" alt="Vanessa Mahoney">
  </div>
  <button type="button" class="btn btn-default btn-md" data-id="haricap" id="btn-cap">
    <h4 style="text-align:center;font-size:90%">Vanessa Mahoney | VP Industry Relations</h4>
  </button>
</li>


<li class="col-md-6" >
  <div class="leaderthumbnail thumbnail" data-id="olgacap">
    <div id="olgacap" class="caption">
        <div class="scroll2">
        <h4>Bio</h4>
        <p> {% include olgabio.txt %} </p> 
        </div>
    </div>
    <img src="/images/leaders/osmolentseva.png" alt="Olga Smolentseva">
  </div>
  <button type="button" class="btn btn-default btn-md" data-id="olgacap" id="btn-cap">
    <h4 style="text-align:center;font-size:90%">Olga Smolentseva | VP Communication</h4>
  </button>
</li>


<li class="col-md-6" >
  <div class="leaderthumbnail thumbnail" data-id="yancap">
    <div id="yancap" class="caption">
        <div class="scroll2">
        <h4>Bio</h4>
        <p> {% include yannikbio.txt %} </p> 
        </div>
    </div>
    <img src="/images/leaders/ydelpu.png" alt="Yannick Delpu">
  </div>
  <button type="button" class="btn btn-default btn-md" data-id="yancap" id="btn-cap">
    <h4 style="text-align:center;font-size:90%">Yannick Delpu | VP Finance</h4>
  </button>
</li>


<li class="col-md-6" >
  <div class="leaderthumbnail thumbnail" data-id="cchencap">
    <div id="cchencap" class="caption">
        <div class="scroll2">
        <h4>Bio</h4>
        <p> {% include cynthiabio.txt %} </p> 
        </div>
    </div>
    <img src="/images/leaders/cchen.png" alt="Cynthia Chen">
  </div>
  <button type="button" class="btn btn-default btn-md" data-id="cchencap" id="btn-cap">
    <h4 style="text-align:center;font-size:90%">Cynthia Chen | VP Communication</h4>
  </button>
</li>

<li class="col-md-6" >
  <div class="leaderthumbnail thumbnail" data-id="vtrapcap">
    <div id="vtrapcap" class="caption">
        <div class="scroll2">
        <h4>Bio</h4>
        <p> {% include vanguelbio.txt %} </p> 
        </div>
    </div>
    <img src="/images/leaders/vtrapkov.png" alt="Vanguel Trapkov">
  </div>
  <button type="button" class="btn btn-default btn-md" data-id="vtrapcap" id="btn-cap">
    <h4 style="text-align:center;font-size:90%">Vanguel Trapkov </h4>
  </button>
</li>


<li class="col-md-6">
  <div class="leaderthumbnail thumbnail" data-id="zachcap">
    <div id="zachcap" class="caption" >
         <div class="scroll2">
         <h4>Bio</h4>
         <p > {% include zachbio.txt %} </p> 
         </div>
    </div>
    <img src="/images/leaders/zkurtz.png" alt="Zachary Kurtz">
  </div>
  <button type="button" class="btn btn-default btn-md" data-id="zachcap" id="btn-cap">
    <h4 style="text-align:center;font-size:90%">Zachary Kurtz </h4>
  </button>
</li>



<li class="col-md-6">
  <div class="leaderthumbnail thumbnail" data-id="mmurphycap">
    <div id="mmurphycap" class="caption">
        <div class="scroll2">
        <h4>Bio</h4>
        <p> {% include mattbio.txt %} </p> 
        </div>
    </div>
    <img src="/images/leaders/matt_murphy.png" alt="Matthew Murphy">
  </div>
  <button type="button" class="btn btn-default btn-md" data-id="mmurphycap" id="btn-cap">
    <h4 style="text-align:center;font-size:90%">Matthew Murphy</h4>
  </button>
</li>

<li class="col-md-6">
  <div class="leaderthumbnail thumbnail" data-id="ncoccocap">
    <div id="ncoccocap" class="caption">
        <div class="scroll2">
        <h4>Bio</h4>
        <p> {% include nikkibio.txt %} </p> 
        </div>
    </div>
    <img src="/images/leaders/nicolette_cocco.png" alt="Nicolette Cocco">
  </div>
  <button type="button" class="btn btn-default btn-md" data-id="ncoccocap" id="btn-cap">
    <h4 style="text-align:center;font-size:90%">Nicolette Cocco</h4>
  </button>
</li>


<li class="col-md-6">
  <div class="leaderthumbnail thumbnail" data-id="dovcap">
      <div id="dovcap" class="caption">
        <div class="scroll2"> 
        <h4>Bio</h4>
        <p>{% include dovbio.txt %}</p>
         </div>
      </div>
    <img src="/images/leaders/dov_shamir.png" alt="Dov Shamir">
  </div>
  <button type="button" class="btn btn-default btn-md" data-id="dovcap" id="btn-cap">
     <h4 style="text-align:center;font-size:90%">Dov Shamir</h4>
  </button>
</li>

<li class="col-md-6">
  <div class="leaderthumbnail thumbnail" data-id="amircap">
    <div id="amircap" class="caption">
        <div class="scroll2">
        <h4>Bio</h4>
        <p> {% include amirbio.txt %} </p> 
        </div>
    </div>
    <img src="/images/leaders/amir_Moarefi.png" alt="Amir Moarefi">
  </div>
  <button type="button" class="btn btn-default btn-md" data-id="haricap" id="btn-cap">
    <h4 style="text-align:center;font-size:90%">Amir Moarefi</h4>
  </button>
</li>


<li class="col-md-6">
  <div class="leaderthumbnail thumbnail" data-id="kavcap">
    <div id="kavcap" class="caption">
        <div class="scroll2">
        <h4>Bio</h4>
        <p> {% include kavithabio.txt %} </p> 
        </div>
    </div>
    <img src="/images/leaders/kgnan.png" alt="Kavitha Gnanasambandan">
  </div>
  <button type="button" class="btn btn-default btn-md" data-id="kavcap" id="btn-cap">
    <h4 style="text-align:center;font-size:90%">Kavitha Gnanasambandan </h4>
  </button>
</li>

<li class="col-md-6">
  <div class="leaderthumbnail thumbnail" data-id="artcap">
    <div id="artcap" class="caption">
        <div class="scroll2"> 
         <h4>Bio</h4>
         <p>{% include arturbio.txt %}</p> 
        </div>
    </div>
    <img src="/images/leaders/artur_belov.png" alt="Artur Belov">
  </div>
  <button type="button" class="btn btn-default btn-md" data-id="artcap" id="btn-cap">
    <h4 style="text-align:center;font-size:90%">Artur Belov</h4>
  </button>
</li>



</ul>
