<h3> Emeritus Leaders </h3>
<ul  id="hover-cap-4col" >
<li class="col-md-4">
  <div class="thumbnail" data-id="kavcap">
    <div id="kavcap" class="caption">
        <div class="scroll2">
        <h4>Bio</h4>
        <p> {% include kavithabio.txt %} </p> 
        </div>
    </div>
    <img src="/images/leaders/kgnan.png" alt="Kavitha Gnanasambandan">
  </div>
  <button type="button" class="btn btn-default btn-lg" data-id="kavcap" id="btn-cap">
    <h4 style="text-align:center">Kavitha Gnanasambandan </h4>
  </button>
</li>
