<h3> Emeritus Leaders </h3>

<ul  id="hover-cap-4col" >
<li class="col-md-6">
  <div class="leaderthumbnail thumbnail" data-id="dovcap">
      <div id="dovcap" class="caption">
        <div class="scroll2"> 
        <h4>Bio</h4>
        <p>{% include dovbio.txt %}</p>
         </div>
      </div>
    <img src="/images/leaders/dov_shamir.png" alt="Dov Shamir">
  </div>
  <button type="button" class="btn btn-default btn-md" data-id="dovcap" id="btn-cap">
     <h4 style="text-align:center;font-size:90%">Dov Shamir</h4>
  </button>
</li>

<li class="col-md-6">
  <div class="leaderthumbnail thumbnail" data-id="artcap">
    <div id="artcap" class="caption">
        <div class="scroll2"> 
         <h4>Bio</h4>
         <p>{% include arturbio.txt %}</p> 
        </div>
    </div>
    <img src="/images/leaders/artur_belov.png" alt="Artur Belov">
  </div>
  <button type="button" class="btn btn-default btn-md" data-id="artcap" id="btn-cap">
    <h4 style="text-align:center;font-size:90%">Artur Belov</h4>
  </button>
</li>



<li class="col-md-6">
  <div class="leaderthumbnail thumbnail" data-id="kavcap">
    <div id="kavcap" class="caption">
        <div class="scroll2">
        <h4>Bio</h4>
        <p> {% include kavithabio.txt %} </p> 
        </div>
    </div>
    <img src="/images/leaders/kgnan.png" alt="Kavitha Gnanasambandan">
  </div>
  <button type="button" class="btn btn-default btn-md" data-id="kavcap" id="btn-cap">
    <h4 style="text-align:center;font-size:90%">Kavitha Gnanasambandan </h4>
  </button>
</li>
