  <div class="row">
    <div style="padding-left:100px">
         <div class="col-lg-2 col-md-3 col-sm-4 nopadding">
         <a href="http://blogs.cuit.columbia.edu/biotechclub/" >
            <img  src="/images/grologos/572.Columbia-logo.png" id="picture" style="align:bottom;min-height:20px;height:25px" />
         </a>
        </div>
         <div class="col-lg-2 col-md-2 col-sm-4 nopadding">
         <a href="http://wcbiotechclub.org/" >
            <img  src="/images/grologos/e4b.WCM_Biotech_Club_updated.png" id="picture" style="align:bottom;min-height:30px;height:30px;padding-left:10px"/>
         </a>
        </div>
         <div class="col-lg-2 col-md-2 col-sm-4 nopadding">
         <a href="http://biotechclub.org" >
            <img  src="/images/grologos/c33.nyuba-logo.png" id="picture" style="align:top;min-height:50px;height:50px;"/>
         </a>
        </div>
         <div class="col-lg-2 col-md-2 col-sm-4 nopadding">
         <a href="https://www.einstein.yu.edu/students/clubs/entrepreneurship-biotechnology/" >
            <img  src="/images/grologos/5d9.einstein-logo.png" id="picture" style="align:bottom;min-height:50px;height:50px;"/>
         </a>
        </div>
         <div class="col-lg-1 col-md-2 col-sm-4 nopadding">
         <a href = "#" >
            <img src="/images/grologos/c89.Hunter-Logo.jpg" id="picture" style="align:bottom;min-height:50px;height:50px;"/>
         </a>
        </div>
         <div class="col-lg-2 col-md-2 col-sm-4 nopadding">
         <a href="https://sinaibiotech.wordpress.com/" >
            <img  src="/images/grologos/931.mount-sinai-logo.png" id="picture" style="align:bottom;min-height:50px;height:50px;"/>
         </a>
        </div>
    </div>
  </div>
