<!DOCTYPE html>
<html lang="en">
  <head>
   <!----favicons-->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/images/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/images/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32">
    <meta name="/imagesmsapplication-TileColor" content="#da532c">
    <meta name="/imagesmsapplication-TileImage" content="/mstile-144x144.png">


    <meta charset="utf-8"> 
    <title>{{ site.name }}</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 110px;
      }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top"
             style="height: 75px;" role="navigation">
     <div class="navbar-inner">
        <div class="container">
         <button type="btn btn-navbar" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>

        <a class="navbar-brand" href="index.html"> 
          <img style="max-width:330px; margin-top: -8px" src="/images/banner_white.png"> 
        </a> 

        <div class="navbar-collapse collapse" style="margin-top: 30px">
          <ul class="nav navbar-nav" style="">
            <li><a href="index.html" >Home</a></li>
            <li><a href="leadership.html">Leadership</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="#Blog">Blog</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">More Stuff<b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/calendar.html">Event Calendar</a></li>
                <li><a href="http://www.nyu.edu/about/university-initiatives/entrepreneurship-at-nyu/about/entrepreneurial-institute-team.html">NYU Entrepreneurial Institute</a></li>
                <li><a href="http://med.nyu.edu">NYU Langone Medical</a></li>
                <li><a href="http://sackler.med.nyu.edu/">NYU Sackler Institute</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Resources</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>


        </div><!--/.nav-collapse -->
      </div>
     </div>
    </div>

