{% include header.html %}

<div class="wrapper">
   <div class="row">
    <div class="container">
        <div class="col-md-9">
         {% if page.title == 'Main' %}
            {% include main.html %}
         {% elsif page.title == "Leadership" %}
          <div class="container-fluid" style="position=absolute">
            <div class="row row-centered" style="background-color:#eee;padding-top:20px;padding-bottom:10px">
            {{ content }}
            </div>
            <div class="row row-centered" style="background-color:#eee;padding-top:10px;margin-top:10px">
              {% include emeritus.html %}
             </div>
           </div>
         {% elsif page.title == "captest" %}
            <div class="row" style="background-color:#eee;position:absolute;padding-top:20px">
             {{ content }}
           </div>
         {% elsif page.title == "Calendar" %}
           <div class="row" style="position:absolute">
             {{ content }}
           </div>
         {% elsif page.title == "Contact" %}
           <div class="row" style="background-color:#eee;padding:20px">
             {{ content }}
           </div>
         {% elsif page.title == "Blog" %}
            <div class="row" style="background-color:#eee;padding:20px">
             {{ content }}
           </div>

         {% endif %}
        </div>


        <div class="col-md-3">
           {% include sidebar.html %}
        </div >

    </div> <!-- /container -->

   </div><!-- /row -->

 <div class="push"></div>
</div> <!-- /wrapper-->
{% include footer.html %}

