{% include header.html %}

<div class="row">
    <div class="container">
        <div class="col-md-9">
        <div class="row" style="background-color:#eee;padding:20px;">
        {% assign author = site.authors[page.author] %}
        <article class="entry">
            <header>
            <p class="date">
            <span class="month">{{ page.date | date: '%b' }}</span>
            <span class="day">{{ page.date | date: '%d' }}</span>
            <span class="year">{{ page.date | date: '%Y' }}</span>
            </p>
            <h1>{{ page.title }}</h1>
            <p class="byline">
            <div class="row">
                <div class="col-xs-3 col-md-2">
                <a href="http://www.twitter.com/{{ author.twitter }}", class="thumbnail", style="max-width:75%;height:auto;">
                    <img src="{{ site.baseurl }}/images/leaders/{{ author.image }}", alt="{{ author.display_name }}">
                </a>
                </div>
            </div>
                    by {{ author.display_name }}
            </p> <!-- /.byline -->
            </header>
                <div class="post" style="font-size:115%">
                {{ content }}
                </div>
            </article>

        </div>
        </div>
    <div class="col-md-3">
        {% include sidebar.html %}
    </div >


    </div>
</div>

{% include footer.html %}
